Source: liberasme-cloud-cil
Section: cli-mono
Priority: extra
Maintainer: Daniel Lacroix <dlacroix@erasme.org>
Build-Depends: debhelper (>= 9), cli-common-dev (>= 0.8), liberasme-http1.0-cil, monodevelop (>= 2.0), libmono-sqlite4.0-cil, mono-dmcs
Standards-Version: 3.9.2

Package: liberasme-cloud1.0-cil
Architecture: all
Depends: ${cli:Depends}, liberasme-http1.0-cil, libmono-sqlite4.0-cil, ffmpegstatic, mediainfo, poppler-utils, phantomjs, imagemagick, unoconv, libreoffice, exiv2
Description: Web services library for WebApps
 Library to provide Web services for Web applications
